@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Press+Start+2P&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Press Start 2P', cursive;

}

body{
    min-height: 100vh;
    background-image: linear-gradient( 45deg, rgb(20, 20, 20), #1f165f);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.cabecalho{
    margin-bottom: 5rem;
}

.cabecalho img{
    width: 35rem;
    margin-left: 20px;
}

div.info1{
    display: flex;
    justify-content: center;
}

div.info1 h1{
    color: #74C663;
    text-shadow: -8px 7px 16px black, -5px -5px black;
    padding-bottom: 25px;
}

div.span1{
    background-color: #D9D9D9;
    color: black;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    box-shadow: black -8px 13px 16px 1px;
}

div.voltar{
    height: 10rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    border-radius: 1%;
    left: 50%;
    top: 50%;
}

.voltar button{
    font-family: 'Press Start 2P', cursive;
    width: 400px;
    height: 90px;
    border-radius: 20px;
    background-color:black;
    color:#74C663;
    border-color: #87db76;
    text-shadow: #74C663 0px 0px 15px;
    font-size: 25px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.voltar a{
    text-decoration: none;
    color: #74C663;
}

button:hover{
    transform: scale(1.05);
}

::-webkit-scrollbar{ /* scroll da tela*/
    width: 10px;
    background-color: #1f165f;
}

::-webkit-scrollbar-thumb{ /* barra do scroll da tela*/
    background-color: #100d2d;
}

footer{
    width: 100%;
    padding: 8px;
    color: #74C663;
    text-shadow: 0px 0px 15px #74C663, -5px -5px black;
    background-color: #02010a;
}

@media screen and (max-width: 634px) {
    div.info1 h1,
    div.info2 h1{
        font-size: 25px;
    }

    div.info1 span,
    div.info2 span{
        font-size: 12px;
    }
}

@media screen and (max-width: 580px) {
    .cabecalho img{
        width: 400px;
    }
}

@media screen and (max-width: 494px) {
    div.info1 h1,
    div.info2 h1{
        font-size: 15px;
        text-shadow: -9px 3px 16px black, -4px -1px black;
    }

    .voltar button{
        width: 200px;
        height: 80px;
    }

    footer{
        margin-top: 2rem; 
    }
}

@media screen and (max-width: 410px) {
    div.info1 h1,
    div.info2 h1{
        font-size: 13px;
    }

    div.info1 span,
    div.info2 span{
        font-size: 10px;
    }

    .cabecalho img{
        width: 250px;
    }
}